* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --imgSize: 250px;
}
body {
    background-color: darkslategray;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 1rem;
}
main {
    margin: 1rem 5rem;
    padding: 1rem;   
}
section {
    
    padding: .5rem;
}
.gallerie {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}
img {
    width: var(--imgSize);
    height: var(--imgSize);
}